body {
    font-family: 'Press Start 2P', system-ui;
}

.container {
    display: flex;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    align-items: center;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 500px;
    width: 500px;
    gap: 15px;
}


.item {
    border: solid 10px black;
    border-radius: 10px;
}

.green {
    background-color: green;
}

.red {
    background-color: red;

}

.yellow {
    background-color: yellow;
}

.blue {
    background-color: blue;
}